<div class="">
    <div class="flex center">
        <mat-form-field style="margin-bottom: -16px;">
            <mat-label>Chọn Tài Khoản</mat-label>
            <mat-select name="social" (selectionChange)="onChange($event)">
                <mat-option *ngFor="let item of socials" [value]="item">{{item['userName']}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button  mat-icon-button matTooltip="Cập Nhật Nhóm">
            <mat-icon>play_arrow</mat-icon>
          </button>
          <ad-schedule [(ngModel)]="task"></ad-schedule>
    </div>
    <ad-table [option]="option" (eventUpsert)="onUpsert($event)" [searchColumns]="searchColumns"></ad-table>
    <!-- <ad-upsert></ad-upsert> -->
    <div class="button-container-footer">
        <button mat-fab (click)=" onCreate()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
