.example-section {
    margin: 0px 0;
    display: flex;
    margin-top: -4px;
  }
  

  
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: -40px;
  }
  .mdc-form-field>label{
    padding-left: 0px!important;
  }

